/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('https://ik.imagekit.io/naeshkfiq/WhiteBg1-02.png?updatedAt=1680434194382');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
